.availableTimeSetupContainer {
  width: 90vw;
  height: 40vh;
  border-radius: 2vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.availableTimeSetupContainer > .availableTimeSetupTitle {
  margin-top: 2vh;
  color: var(--primary);
  font-size: var(--text-extra-large);
}

.availableTimeSetupContainer > .availableTimeTargetInput {
  margin-top: 3.5vh;
  width: 100%;
  max-width: var(--input-max-width);
  font-size: var(--text-large);
  padding: var(--padding-small);
  background-color: var(--input-bg-color);
  color: var(--input-font-color);
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: var(--border-radius-small);
}

.availableTimeSetupContainer > .availableTimeTargetInput:focus {
  background-color: var(--input-bg-color-focus);
  color: var(--input-font-color-focus);
  border: var(--input-border-width-focus) solid var(--input-border-color-focus);
}

.availableTimeSetupContainer > .availableTimeTargetSetupSubmitButton {
  margin-top: 3.5vh;
  background-color: var(--primary-dark);
  color: var(--text-light);
  font-size: var(--text-extra-large);
}

.availableTimeSetupContainer > .backButton {
  margin-top: 3vh;
  background-color: var(--secondary);
  color: var(--text-dark);
  font-size: var(--text-large);
}
