.roundInProgressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 90%;
  max-width: var(--input-max-width);
}

.player {
  margin-top: 2vh;
  color: var(--primary);
  font-size: var(--text-large);
  text-align: center;
}

.mode {
  margin-top: 3.5vh;
  color: var(--primary);
  font-size: var(--text-extra-large);
  text-align: center;
}

.modeDescription {
  margin-top: 0.5vh;
  color: var(--primary);
  font-size: var(--text-normal);
  text-align: center;
}

.syllable {
  margin-top: 2vh;
  color: var(--primary);
  font-size: var(--text-extra-large);
  text-align: center;
}

.goToNextPlayerButton {
  margin-top: 3.5vh;
  height: 35vh;
  width: 80%;
  border-radius: var(--border-radius-large);
  background-color: var(--primary);
  color: var(--text-on-primary-background);
  font-size: var(--text-extra-large);
}

.goToPreviousPlayerButton {
  margin-top: 7vh;
  align-self: flex-start;
  background-color: var(--secondary);
  color: var(--text-on-secondary-background);
  font-size: var(--text-large);
}
