.endRoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vh;
  margin: 2vh 0;
}

.endRoundContainer > .whoLost {
  margin-top: 2vh;
  color: var(--main-color);
  font-size: var(--text-extra-large);
}

.endRoundContainer > .playersContainer {
  margin-top: 2vh;
  min-width: 35vh;
}

.endRoundContainer > .playersContainer > .player {
  margin-top: 1vh;
  width: 100%;
  font-size: var(--text-large);
}

.endRoundContainer > .playersContainer > .playerNow {
  background-color: var(--secondary-light);
  color: var(--text-dark);
}

.endRoundContainer > .playersContainer > .playerNotNow {
  background-color: var(--secondary-dark);
  color: var(--text-light);
}

.endRoundContainer > .proceedButton {
  margin-top: 3.5vh;
  max-width: 28vh;
  background-color: var(--primary);
  color: var(--text-light);
  font-size: var(--text-extra-large);
}
