.scoreBoardContainer {
  border-radius: 1.7384vh;
  width: 100%;
  min-width: 34.768vh;
  padding: 3.4768vh 1.7384vh;
}

.scoreBoardContainer > .scoreBoardTitle {
  width: 100%;
  text-align: center;
}

.scoreBoardContainer > .scoreBoard {
  margin-top: 0.8692vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.scoreBoardContainer > .scoreBoard > * {
  margin-top: 0.8692vh;
  margin-bottom: 0.8692vh;
  border-bottom: 2px solid;
}

@media screen and (max-width: 480px) {
  .scoreBoardContainer {
    min-width: 95%;
  }
}
