.scoreBoardContainer {
  border-radius: 2vh;
  width: 100%;
  padding: 3.5vh 2vh;
}

.scoreBoardTitle {
  width: 100%;
  text-align: center;
  color: var(--primary);
  font-size: var(--text-extra-large);
  text-align: center;
}

.scoreBoard {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  color: var(--primary);
}

.scoreBoard > * {
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-bottom: 2px solid;
  border-color: var(--primary);
  font-size: var(--text-large);
}

.inactive {
  opacity: 0.5;
}
