.scoreBoardContainer {
  border-radius: 2vh;
  width: 100%;
  min-width: 35vh;
  padding: 3.5vh 2vh;
}

.scoreBoardContainer > .scoreBoardTitle {
  width: 100%;
  text-align: center;
}

.scoreBoardContainer > .scoreBoard {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.scoreBoardContainer > .scoreBoard > * {
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-bottom: 2px solid;
}

.scoreBoardContainer > .scoreBoard > .inactive {
  opacity: 0.5;
}

@media screen and (max-width: 480px) {
  .scoreBoardContainer {
    min-width: 95%;
  }
}
