.scoreSetupContainer {
  background-color: red;
  width: 90vw;
  max-width: 35rem;
  height: 30vh;
  background-color: cornsilk;
  border-radius: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scoreSetupContainer > .scoreTargetSetupSubmitButton {
  margin-top: 1rem;
}

.scoreSetupContainer > .scoreTargetInput {
  min-width: 1rem;
}
