.scoreSetupContainer {
  width: 90vw;
  max-width: 60vh;
  height: 40vh;
  border-radius: 2vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
}

.scoreSetupContainer > .scoreSetupTitle {
  margin-top: 2vh;
  color: var(--main-color);
}

.scoreSetupContainer > .scoreTargetInput {
  margin-top: 3.5vh;
  min-width: 2vh;
}

.scoreSetupContainer > .scoreTargetSetupSubmitButton {
  margin-top: 3.5vh;
  min-width: 20vh;
  background-color: var(--primary-dark);
  color: var(--text-light);
}

.scoreSetupContainer > .backButton {
  margin-top: 3vh;
  background-color: var(--secondary);
  color: var(--text-dark);
}
