button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  border: none;
  border-radius: 1vh;
  transition: filter 0.3s;
}

button:hover:not([disabled]) {
  cursor: pointer;
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
}

button:focus:not([disabled]) {
  outline: none;
}

button:disabled {
  filter: brightness(65%);
  -webkit-filter: brightness(65%);
}
