.menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: var(--menu-z-index);
  height: 6vh;
  -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

.menu.openMenu {
  height: calc(100vh - var(--header-height));
  background: var(--sky-color);
  overflow-y: auto;
}

.menu > .menuButton {
  border-radius: 50%;
  height: 6vh;
}

.menu > .menuButton > .arrowIcon {
  height: 4vh;
  width: auto;
}
