.startRoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vh;
  margin: 2vh 0;
}

.startRoundContainer > .playsNow {
  margin-bottom: 2vh;
  color: var(--main-color);
  font-size: var(--text-extra-large);
}

.startRoundContainer > .movieButton {
  margin-top: 3vh;
  font-size: var(--text-normal);
}

.startRoundContainer > .selectedMovieButton {
  background-color: var(--secondary-dark);
  color: var(--text-light);
}

.startRoundContainer > .notSelectedMovieButton {
  background-color: var(--secondary-light);
  color: var(--text-dark);
}

.startRoundContainer > .startRoundButton {
  margin-top: 3.5vh;
  max-width: 35vh;
  background-color: var(--primary-dark);
  color: var(--text-light);
  font-size: var(--text-extra-large);
}

.startRoundContainer > .backButton {
  margin-top: 3vh;
  background-color: var(--secondary);
  color: var(--text-dark);
  font-size: var(--text-large);
}
