body {
  min-height: 100vh;
}

:root {
  --blured-bg: #000000c7;

  --primary: white;
  --secondary: #857dff;

  --bg-color-of-not-selected: red;
  --bg-color-of-selected: green;
  --font-color-of-not-selected: white;
  --font-color-of-selected: white;

  --text-on-primary-background: #001a9e;
  --text-on-secondary-background: #001a9e;

  --input-bg-color: rgb(208 194 194 / 10%);
  --input-font-color: var(--primary);
  --input-border-color: var(--primary);
  --input-border-width: 1px;

  --input-bg-color-focus: rgb(208 194 194 / 40%);
  --input-font-color-focus: var(--primary);
  --input-border-color-focus: var(--primary);

  --logo-color: var(--primary);
}
