body {
  min-height: 100vh;
}

:root {
  --blured-bg: #000000c7;

  --primary: #673ab7;
  --primary-light: #9a67ea;
  --primary-dark: #320b86;

  --secondary: #b55bb7;
  --secondary-light: #e98bea;
  --secondary-dark: #832b87;

  --text-light: #fff;
  --text-dark: #000;

  --input-bg-color: rgb(208 194 194 / 10%);
  --input-font-color: var(--primary);
  --input-border-color: var(--primary);
  --input-border-width: 1px;

  --input-bg-color-focus: rgb(208 194 194 / 40%);
  --input-font-color-focus: var(--primary-dark);
  --input-border-color-focus: var(--primary-dark);
  --input-border-width-focus: 2px;
}
