:root {
  --min-mobile: 320px;
  --max-mobile: 480px;
  --min-tablet: 7481px;
  --max-tablet: 768px;
  --min-small-laptop: 769px;
  --max-small-laptop: 1024px;
  --min-desktop: 1025px;
  --max-desktop: 1200px;
  --min-large-screen: 1201px;
  --max-large-screen: 20000px;
}

/* Breakpoints
  320px — 480px: Mobile devices.
  481px — 768px: iPads, Tablets.
  769px — 1024px: Small screens, laptops.
  1025px — 1200px: Desktops, large screens.
  1201px and more — Extra large screens, TV.

  @media screen and (max-width: 480px) {
    .text {
      font-size: 16px;
    }
  }
*/
