.scoreBoardContainer {
  border-radius: 2vh;
  width: 100%;
  min-width: 35vh;
  padding: 3.5vh 2vh;
  background-color: var(--second-bg-color);
}

.scoreBoardContainer > .scoreBoardTitle {
  width: 100%;
  text-align: center;
  color: var(--main-color);
  font-size: var(--text-extra-large);
}

.scoreBoardContainer > .scoreBoard {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  color: var(--main-color);
  font-size: var(--text-extra-large);
}

.scoreBoardContainer > .scoreBoard > * {
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-bottom: 2px solid;
  border-color: var(--main-border-color);
  font-size: var(--text-large);
}

@media screen and (max-width: 480px) {
  .scoreBoardContainer {
    min-width: 95%;
  }
}
