.availableGamesContainer {
  width: 90%;
  max-width: 500px;
}

.gameButton {
  width: 100%;
  margin: 6vh 0;
  background-color: var(--primary);
  color: var(--text-on-primary-background);
  font-size: var(--text-extra-large);
}
