.availableGamesContainer {
  width: 90%;
  max-width: 60vh;
}

.availableGamesContainer > a > .gameButton {
  width: 100%;
  margin: 2vh 0;
  background-color: var(--primary);
  color: var(--text-light);
  font-size: var(--text-extra-large);
}
