.roundInProgressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.roundInProgressContainer > .team {
  margin-top: 2vh;
  color: var(--main-color);
}

.roundInProgressContainer > .movie {
  margin-top: 2vh;
  color: var(--main-color);
}

.roundInProgressContainer > .remainingTime {
  margin-top: 2vh;
  color: var(--main-color);
}

.roundInProgressContainer > .movieFoundButton {
  margin-top: 3.5vh;
  width: 35vh;
  height: 35vh;
  border-radius: 17.5vh;
  background-color: var(--primary);
  color: var(--text-light);
}

.roundInProgressContainer > .movieNotFoundButton {
  margin-top: 7vh;
  align-self: flex-start;
  background-color: var(--secondary);
  color: var(--text-dark);
}
