.teamsSetupContainer {
  width: 90vw;
  height: 70vh;
  border-radius: 2vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamsSetupContainer > .teamsSetupTitle {
  margin-top: 2vh;
  color: var(--primary);
  font-size: var(--text-extra-large);
  text-align: center;
}

.teamsSetupContainer > .teamsContainer {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.teamsSetupContainer > .addTeamButton {
  margin-top: 2vh;
  min-width: 20vh;
  background-color: var(--primary);
  color: var(--text-on-primary-background);
  font-size: var(--text-large);
}

.teamsSetupContainer > .teamsSetupSubmitButton {
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
  background-color: var(--primary);
  color: var(--text-on-primary-background);
  font-size: var(--text-extra-large);
}
