.endGameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vh;
  margin: 2vh 0;
  width: 90%;
  max-width: var(--input-max-width);
}

.endGameContainer > .gameEndTitle {
  margin-bottom: 2vh;
  color: var(--primary);
  font-size: var(--text-extra-large);
  text-align: center;
}

.endGameContainer > .restartButton {
  margin-top: 3.5vh;
  background-color: var(--primary);
  color: var(--text-light);
  font-size: var(--text-extra-large);
}

.endGameContainer > a > .homeButton {
  margin-top: 3.5vh;
  background-color: var(--secondary);
  color: var(--text-dark);
  font-size: var(--text-large);
}
