.playersSetUpContainer {
  background-color: red;
  width: 90vw;
  max-width: 35rem;
  height: 70vh;
  background-color: cornsilk;
  border-radius: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playersContainer {
  background-color: aquamarine;
  width: 90%;
  max-width: 33rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.playersSetUpContainer > .addPlayerButton {
  margin-top: 1rem;
}

.playersSetUpContainer > .playersSetupSubmitButton {
  margin-top: 1rem;
}
