.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blured-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
