.endRoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vh;
  margin: 2vh 0;
}

.endRoundContainer > .title {
  color: var(--main-color);
  font-size: var(--text-extra-large);
}

.endRoundContainer > .movieFoundButtons {
  margin-top: 2vh;
  min-width: 35vh;
}

.endRoundContainer > .movieFoundButtons > button {
  font-size: var(--text-large);
}

.endRoundContainer > .movieFoundButtons > .movieActionSelected {
  background-color: var(--secondary-dark);
  color: var(--text-light);
}

.endRoundContainer > .movieFoundButtons > .movieActionNotSelected {
  background-color: var(--secondary-light);
  color: var(--text-dark);
}

.endRoundContainer > .proceedButton {
  margin-top: 3.5vh;
  max-width: 28vh;
  background-color: var(--primary);
  color: var(--text-light);
  font-size: var(--text-extra-large);
}
