.header {
  height: 5rem;
  background-color: yellow;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.normal {
  height: 5rem;
  transition: height 0.6s;
}

.shrinked {
  height: 3.5rem;
  transition: height 0.6s;
}

.header > .title {
  font-size: 2rem;
}

.header > .menuButton {
  display: none;
  font-size: 2.5rem;
  background-color: inherit;
  border-radius: 0.25rem;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 0 0.5rem;
  }

  .header > .menuButton {
    display: flex;
  }
}
