.header {
  height: 9vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.normal {
  height: 9vh;
  transition: height 0.6s;
}

.shrinked {
  height: 6vh;
  transition: height 0.6s;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 0 2vh;
  }
}
