.playerContainer {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.playerContainer > .removePlayerButton {
  border-radius: 0.5vh;
  margin-left: 1vh;
}

.playerContainer > .playerNameInput {
  min-width: 2vh;
}
